body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#progress-bar {
    width: 0;
    height: 20px;
    background-color: #4CAF50;
    margin-top: 20px;
    display: none;
}

#result img {
    margin-top: 20px;
    max-height: 70vh;
    /* max-width: 100%; */
    /* height: auto; */
}

#download-btn {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#download-btn:hover {
    background-color: #45a049;
}
