<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人頭提取工具</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>人頭提取工具</h1>
    <form id="uploadForm" enctype="multipart/form-data" method="post">
        <input type="file" id="imageInput" name="image" accept="image/*" required>
        <br><br>
        <button type="submit">上傳並處理</button>
    </form>
    <div id="result"></div>
    <a id="download-btn" href="#" download="result.png">下載處理後的圖片</a>

    <script src="/static/js/scripts.js"></script>
</body>
</html>
